# ==========================
# Dependencies
# ==========================
node_modules/

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# Logs
# ==========================
logs/
*.log
npm-debug.log*

# ==========================
# OS / Editor
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Build / Cache
# ==========================
coverage/
.cache/